/* app.css */

/* Contenedor principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Título principal */
h1 {
    color: #2E9AFE; /* Color azul similar al de QuestionPro */
    margin-bottom: 20px;
}

/* Estilos para el mensaje de agradecimiento */
.thank-you-message {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

/* Estilos para la pregunta */
.question-card {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.question-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.question-card label {
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    color: #333;
}

/* Contenedor de emojis */
.emoji-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Estilos para cada emoji */
.emoji-item {
    cursor: pointer;
    margin: 0 10px;
    text-align: center;
}

.emoji-item span {
    font-size: 40px;
    display: block;
}

.emoji-item p {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}

/* Estilo para emoji seleccionado */
.emoji-item.selected span {
    color: #2E9AFE; /* Color azul para emoji seleccionado */
}

/* Botón finalizar */
button[type="submit"], button[type="button"] {
    background-color: #2E9AFE; /* Color azul */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button[type="submit"]:hover, button[type="button"]:hover {
    background-color: #1C6ECA; /* Color azul oscuro al pasar el cursor */
}

button[type="button"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
